<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Libelle</th>
      <th scope="col">Code</th>
      <th scope="col">Products Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> {{rayon.libelleRayon}}
      </td>
      <td> {{rayon.codeRayon}} </td>
      <td> {{rayon.produits.length | json}} </td>
      <td> <button type="button" name="update" (click)="update()" class="btn btn-dark">Update</button></td>
      <td><button type="submit" class="btn btn-danger" [routerLink]="['/getRayons']" (click)="delete()">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngFor="let image of images">
  <img src="{{image.imageRayon}}" class="img-thumbnail" class="rounded mx-auto d-block" width="200px" height="150px">
</div>


<div *ngIf="updateEtat">
  <app-update-rayon [rayon]="rayon"></app-update-rayon>
</div>

