

<div class="card film-item" [routerLink]="'/Fournisseur/FournisseurHome/detail/'+fournisseur.idFournisseur">
    <img [src]="photoURL" class="w-100" alt="">
    <div class="film-title">
    
        <p> 
          firstName :  {{fournisseur.firstName }} <br>
          lastName :  {{fournisseur.lastName }} <br>
          Email :  {{fournisseur.email }} <br>
          phone :  {{fournisseur.phone }} <br>
          adresse :  {{fournisseur.adresse }} <br>
  
        </p>
  
      
    </div>
  
  </div>
  
  
  