<br><br>

<div class="container" >
  <div>
      <h1>Update Rayon!</h1>
      <form (ngSubmit)="submit()" #rayon="ngForm" [formGroup]="addForm">
          <div class="form-group">
              <label for="libelleRayon" formControlName="libelleRayon">Libelle</label>
              <input type="text" class="form-control" name="libelleRayon" ngModel />
              <div class="alert alert-danger" [hidden]="addForm.hasError('required','libelleRayon')">Libelle is required</div>
          </div>
          <div class="form-group">
            <label for="codeRayon">Code</label>
            <input type="text" class="form-control" name="codeRayon" formControlName="codeRayon" ngModel/>
            <div class="alert alert-danger" [hidden]="addForm.hasError('required','codeRayon')">Code is required</div>

          </div>
          <div class="form-group">
          </div>
          <button type="submit" class="btn btn-dark" [disabled]="!addForm.invalid">Submit</button>
      </form>
  </div>
  </div>
<br><br>
